html {
  font-size: 62.5%
}

body {
  border-left: 3rem solid #111;
  border-right: 3rem solid #111;
  border-top: 1.5rem solid #111;
  border-bottom: 1.5rem solid #111;
  color: $font-color-lite;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 1.6rem;
  line-height: 2.56rem;
  min-height: calc(100vh - 30px);
  position: relative;
  text-rendering: optimizeLegibility;

  &.dark {
    // background-image: url(../../images/pattern-dark.png);
    // color: $font-color-dark;
  }
}

body,h1,h2,h3,h4,h5,h6,html,p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: pow($ratio, 6) * 1rem;
  font-weight: 700;
  line-height: 1.5;
}

h2 {
  font-size: pow($ratio, 5) * 1rem;
  line-height: 1.5;
}

h3 {
  font-size: pow($ratio, 4) * 1rem;
  font-weight: 300;
  line-height: 1.5;
}

h4 {
  font-size: pow($ratio, 3) * 1rem;
}

h5 {
  font-size: pow($ratio, 2) * 1rem;
}

h6 {
  font-size: pow($ratio, 1) * 1rem;
}

p {
  font-size: 1rem;
}

a {
  color: $font-color-lite;
  text-decoration: none;
}

ul {
    list-style-type: '-';
    margin-top: 0;
    padding-left: 2rem;

    li {
      padding-left: 1rem;
    }
  }

figure {
  margin: 0;
  padding: 0;

  img {
    display: block;
  }
}

footer {
  padding: 10rem 0;
  text-align: center;
}

.hidden {
  display: none !important;
}

.clear {
  clear: both;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	html {
    font-size: 52.5%;
  }
}

@include keyframes(fadeIn) {
  0%   {
    display: none;
    opacity: 0;
  }
  1%   {
    display: block;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(fadeOut) {
  0%   {
    display: block;
    opacity: 1;
  }
  99%  {
    opacity: 0;
  }
  100% {
    display: none;
  }
}

@include keyframes(loadIn) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  @include animation('fadeIn .5s ease-in-out');
  animation-fill-mode: forwards;
}

.fadeOut {
  @include animation('fadeOut .3s ease-out');
  animation-fill-mode: forwards;
}

.loadIn {
  @include animation('loadIn .3s ease-out');
  animation-fill-mode: forwards;

  opacity: 0;
}

.invis {
  opacity: 0;
  visibility: hidden;
}

.delay-1 {
  animation-delay: 1s;
}

.delay-2 {
  animation-delay: 3s;
}

.delay-3 {
  animation-delay: 4s;
}
