html {
  font-size: 62.5%
}

body {
  border-left: 15px solid #111;
  border-right: 15px solid #111;
  border-top: 15px solid #111;
  color: $font-color-lite;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 1.6rem;
  line-height: 2.56rem;
  position: relative;
  text-rendering: optimizeLegibility;

  &.dark {
    // background-image: url(../../images/pattern-dark.png);
    // color: $font-color-dark;
  }
}

body, html {
  // border: none;
}

body,h1,h2,h3,h4,h5,h6,html,p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: pow($ratio, 6) * 1rem;
  font-weight: 700;
  line-height: 1.5;
}

h2 {
  font-size: pow($ratio, 5) * 1rem;
  line-height: 1.5;
}

h3 {
  font-size: pow($ratio, 4) * 1rem;
  font-weight: 300;
  line-height: 1.5;
}

h4 {
  font-size: pow($ratio, 3) * 1rem;
}

h5 {
  font-size: pow($ratio, 2) * 1rem;
}

h6 {
  font-size: pow($ratio, 1) * 1rem;
}

p {
  font-size: 1rem;
}

a {
  color: $font-color-lite;
  text-decoration: none;
}

ul {
    list-style-type: '-';
    margin-top: 0;
    padding-left: 2rem;

    li {
      padding-left: 1rem;
    }
  }

figure {
  margin: 0;
  padding: 0;

  img {
    display: block;
  }
}

footer {
  padding: 10rem 0;
}

.hidden {
  display: none;
}

.clear {
  clear: both;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	html {
    font-size: 52.5%;
  }
}
