@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}

@mixin national2bold() {
  @font-face {
    font-family: 'National2-Bold';
    src: url('../fonts/National2-Bold/National2-Bold'+'.eot');
    src: url('../fonts/National2-Bold/National2-Bold'+'.eot?#iefix') format('embedded-opentype'),
         url('../fonts/National2-Bold/National2-Bold'+'.woff') format('woff'),
         url('../fonts/National2-Bold/National2-Bold'+'.ttf') format('truetype'),
         url('../fonts/National2-Bold/National2-Bold'+'.svg#'+'National2-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

@mixin national2light() {
  @font-face {
    font-family: 'National2-Light';
    src: url('../fonts/National2-Light/National2-Light'+'.eot');
    src: url('../fonts/National2-Light/National2-Light'+'.eot?#iefix') format('embedded-opentype'),
         url('../fonts/National2-Light/National2-Light'+'.woff') format('woff'),
         url('../fonts/National2-Light/National2-Light'+'.ttf') format('truetype'),
         url('../fonts/National2-Light/National2-Light'+'.svg#'+'National2-Light') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

@mixin pitchsans() {
  @font-face {
    font-family: 'PitchSans-Medium';
    src: url('../fonts/PitchSans-Medium/PitchSans-Medium'+'.eot');
    src: url('../fonts/PitchSans-Medium/PitchSans-Medium'+'.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PitchSans-Medium/PitchSans-Medium'+'.woff') format('woff'),
         url('../fonts/PitchSans-Medium/PitchSans-Medium'+'.ttf') format('truetype'),
         url('../fonts/PitchSans-Medium/PitchSans-Medium'+'.svg#'+'PitchSans-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}
