$ratio_1: 1.33;
$ratio_2: 1.25;
$color_dark: #1c1c1c;
$color_offwhite: #e3e3d8;
$color_accent: #f9da8f;

$breakpoints: (
  na: 0px,
  // For BS grid
    xs: 479px,
  // Smartphone
    sm: 767px,
  // Tablets
    md: 991px,
  // Tablets Landscape and small desktops
    lg: 1200px,
  // Desktops
    xl: 1800px,
  // Large Desktop
);
